.music-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #181818;
  padding: 10px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.left-section {
  display: flex;
  align-items: center;
}

.album-cover {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.track-info {
  display: flex;
  flex-direction: column;
  color: white;
}

.track-name {
  font-size: 14px;
  font-weight: bold;
}

.artist-name {
  font-size: 12px;
  color: #b3b3b3;
}

.center-section {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  align-items: center;
}

.play-pause-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-icon,
.pause-icon {
  width: 24px;
  height: 24px;
  fill: white;
}

.time-info {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.progress-slider {
  flex-grow: 1;
  margin: 0 10px;
  background: #1db954;
  width: 1000px;
}

.time {
  color: white;
  font-size: 12px;
}

.right-section {
  display: flex;
  align-items: center;
}
