.editprofile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  padding: 20px;
}

form {
  background-color: #282828;
  padding: 40px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.editprofile-header {
  margin-bottom: 20px;
  text-align: center;
}

h1 {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.editprofile-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  color: #b3b3b3;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 14px;
}

.editprofile-buttons {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

button[type="button"] {
  background-color: transparent;
  color: #b3b3b3;
  border: 1px solid #444;
}

button:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #ffffff;
}
