.track-list {
  margin-top: 10px;
  border-top: 1px solid #282828;
}

.track {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  transition: 0.4s;
}

.track:hover {
  padding: 5px 5px;
  background-color: #3f3e3e;
}

.track-info {
  display: flex;
}

.track-info h3 {
  font-size: 1em;
  justify-items: center;
  color: #ffffff;
}

.track audio::-webkit-media-controls {
  display: none;
}
