.reset-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #121212;
  color: #fff;
}

.reset-password-title {
  font-size: 1.5rem;
  margin-top: 250px;
  margin-bottom: 1rem;
}

.reset-password-form-container {
  width: 470px;
  padding: 40px;
  background-color: #181818;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  margin-bottom: 1rem;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.input.invalid {
  border-color: #f53b57;
}

.input.valid {
  border-color: #1db954;
}

.validation-message {
  color: #f53b57;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.validation-message.valid {
  color: #1db954;
}

.error {
  color: #f53b57;
  margin-top: 0.5rem;
}

.reset-password-button {
  padding: 15px;
  font-size: 1rem;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}

.reset-password-button:hover {
  background-color: #1ed760;
}
