body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: #121212;
}

.forgot-account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  color: #fff;
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.forgot-account-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 40px;
  background-color: #181818;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.forgot-account-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.forgot-account-form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 1rem;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.input.invalid {
  border-color: #f53b57;
}

.validation-message {
  color: #f53b57;
  margin-bottom: 1rem;
}

.error {
  color: #f53b57;
  margin-top: 0.5rem;
}

.search-button {
  padding: 15px;
  font-size: 1rem;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}

.search-button:hover {
  background-color: #1ed760;
}

.cancel-link {
  display: block;
  margin-top: 1rem;
  color: #1db954;
  text-decoration: none;
}

.cancel-link:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
