.header {
  padding: 25px 30px;
  background: #030303;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .prev-btn button {
  background: transparent;
  border: 0;
  outline: 0;
}

.header .prev-btn button .icon {
  color: #a9a2a2;
  font-size: 25px;
  margin-right: 10px;
}

.header .profile button {
  background: #141212;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 10px;
}

.header .profile button img {
  width: 30px;
  border-radius: 50%;
}
