.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #181818;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.navbar-logo img {
  height: 40px;
  margin-right: 10px;
}

.navbar-right {
  display: flex;
}

.navbar-link {
  color: #b3b3b3;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #fff;
}
