.footer {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #121212;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.footer-logo img {
  width: 20px;
  margin-right: 10px;
}

.footer-right {
  display: flex;
}

.footer-link {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 12px;
  margin-left: 20px;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #fff;
}
