.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #121212;
  color: #fff;
}

.prev-btn {
  display: flex;
}

.prev-btn button {
  background: none;
  border: none;
  color: #fff;
  margin-right: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  border-radius: 20px;
  width: 600px;
  border: none;
  background-color: #282828;
  color: #fff;
}

.audio-input-btn {
  background: none;
  border: none;
  color: #fff;
  margin-left: 10px;
}

.profile {
  position: relative;
}

.profile button {
  background: none;
  border: none;
}

.profile img {
  border-radius: 50%;
  width: 40px; /* Match Header */
  height: 40px; /* Match Header */
  object-fit: cover;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #282828;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  padding: 10px 20px;
  width: 150px;
  color: #fff;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #383838;
}
