.your-post-page {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.sidebar {
  width: 350px;
  background-color: #000;
}

.main {
  flex: 1;
  background: #181818;
  height: 100vh;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .your-post-page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .main {
    margin-left: 0;
    margin-top: 60px;
    height: calc(100vh - 60px);
  }
}

.music-control {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #222;
  z-index: 1000;
}

.header-banner {
  width: 100%;
  position: relative;
}

.header-banner .banner {
  width: 100%;
  height: 300px;
  position: relative;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.banner-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 24px;
  z-index: 10;
}

.verified-icon {
  width: 12px;
  margin-right: 5px;
}

.profile-content {
  padding: 20px;
}

.discography {
  padding: 20px;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: start;
}

.album,
.create-album {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  width: 240px; 
  height: 240px;
  border-radius: 10px;
  overflow: hidden;
  background: #181818;

.album-image {
  width: 100%; /* Ensures the image covers the full width of the container */
  height: 80%; /* Adjust height to fit within the album container */
  object-fit: cover; /* Ensures the image covers the container without distortion */
}

.create-album {
  background: #1db954;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-album-icon {
  font-size: 50px;
  color: white;
}

.album-details {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #fff;
}

.album-details h3 {
  font-size: 18px;
  margin: 5px 0;
}

.album-details p {
  margin: 0;
  font-size: 14px;
}
