.album-list-container {
  position: relative;
}

.show-more-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.show-more-link {
  color: #1db954;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.show-more-link:hover {
  text-decoration: underline;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 30px; /* Add margin-top to avoid overlap with the Show More link */
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  width: 240px;
  height: 240px;
  border-radius: 10px;
  background: #181818;
  cursor: pointer;
}

.album-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.album-details {
  margin-top: 10px;
  margin-bottom: 10px;
}

.album-details h3 {
  font-size: 18px;
  margin: 5px 0;
}

.album-details p {
  margin: 0;
  font-size: 14px;
}

.no-albums {
  color: #fff;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
